{% extends "base.html" %}

{% block content %}
<div class="card" style="border-width: 3px">
    <div class="col text-center">
        <br>
        <h2>Работа с таблицами</h2>
        <br>
        </div>
<div class="row">
    
    <div class="col-sm">
        <br>
        <div class="col text-center">
        <a class="btn btn-primary" href="clients/" role="button">Таблица клиентов</a>
        </div>
        <br>
        <div class="col text-center">
        <a class="btn btn-primary" href="addclient/" role="button">Добавить клиента</a>
        </div>
        <br>
    </div>
    <div class="col-sm">
        <br>
        <div class="col text-center">
        <a class="btn btn-primary" href="games/" role="button">Таблица игр</a>
        </div>
        <br>
        <div class="col text-center">
        <a class="btn btn-primary" href="addgame/" role="button">Добавить игру</a>
    </div>
    <br>
    </div>
    <div class="col-sm">
        <br>
        <div class="col text-center">
        <a class="btn btn-primary" href="orders/" role="button">Таблица заказов</a>
        </div>
        <br>
        <div class="col text-center">
        <a class="btn btn-primary" href="addorder/" role="button">Добавить заказ</a>
    </div>
    <br>
    </div>
  </div>
</div>
<br>

{% endblock %}