{% extends "base.html" %}

{% block content %}
<div class="card" style="border-width: 0px">
<form action="#" method = "POST" enctype="multipart/form-data" autocomplete="off">
<div class="row">
    <div class="col">
 
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineRadio1" name="criteria" value="name" checked>
          <label class="form-check-label" for="inlineRadio1">Имя</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineRadio2" name="criteria" value="email">
          <label class="form-check-label" for="inlineRadio2">Почта</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineRadio3" name="criteria" value="phone">
          <label class="form-check-label" for="inlineRadio3">Телефон</label>
        </div>
    </div>
    <div class="col">
      <input type="text" name="search" class="form-control">
    </div>
    <div class="col">
        <button type="submit" class="btn btn-primary">Поиск</button>
    </div>
</div>
</form>
</div>
{% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for msg in messages %}
        <p>{{msg}}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
<br>
<div class="card" style="border-width: 3px">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Имя</th>
            <th scope="col">Почта</th>
            <th scope="col">Телефон</th>
          </tr>
        </thead>
        <tbody>
            {% for x in range (0, rows) %}             
            <tr>
            <th scope="row">{{transfer[x].id}}</th>
            <td>{{transfer[x].name}}</td>
            <td>{{transfer[x].email}}</td>
            <td>{{transfer[x].phone}}</td>
            </tr>
            {% endfor %}
            
        </tbody>
      </table>
    </div>
{% endblock %}